</main>
<footer>

<!-- Footer content -->
<div id="copyright">
    <p>© Zhuolin Li <%=year%></p>
</div>

</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/populateData.js"></script>

</body>
</html>