<%- include("partials/header.ejs") %>

<!-- Main content -->

<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Change 24h</th>
        <th>Market cap</th>
    </thead>
    <tbody class="data">
        <!-- Rows here -->
    </tbody>
</table>

<%- include("partials/footer.ejs") %>